# Name: IicsOpenerToTiff
# Author: Nico Stuurman
# Modified by: Thomas Miedema
# Version: 0.2.1
# Date: 2011/03/15
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM Ics_Opener_To_Tiff.jar *"

File>Import, "ICS/IDS to TIFF..", Ics_Opener_To_Tiff("open")
Plugins>InputOutput, "ICS/IDS to TIFF.. ", Ics_Opener_To_Tiff("open")
Help>About Plugins, "ICS/IDS to TIFF..  ", Ics_Opener_To_Tiff("about")
