# Name: IicsOpener
# Author: Nico Stuurman
# Version: 0.2
# Date: 2007/01/03
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM Ics_Opener.jar *"

File>Import, "ICS/IDS...", Ics_Opener("open")
Plugins>InputOutput, "ICS/IDS... ", Ics_Opener("open")
Help>About Plugins, "ICS/IDS...  ", Ics_Opener("about")
